.content{
    background: #F6F4F5;
    .buybox{
        .category{
            width: 1200px;
            height: 50px;
            line-height: 50px;
            font-size: 12px;
            color: #797979;
            
            span{
                padding: 0 5px;
                a{color:#000;}
            }
            .zxkf{
                cursor: pointer;
                margin-top: 15px;
                overflow: hidden;
                display: inline-block;
                width: 88px;
                height: 20px;
                display: inline-block;
                background: url(../images/zxkf.png);
            }
        }
        .itemshow{
            background:#fff;
            .glass{
                .pic-minlist{
                    margin-left: 45px;
                    margin-top: 20px;
                    margin-right: 20px;
                    width: 76px;
                    height: 258px;
                    li{
                        margin-bottom: 10px;
                        border: 1px solid #EEEEEE;
                        cursor: pointer;
                        padding: 1px 1px;
                        img{
                            vertical-align: top;
                            width: 72px;
                            height: 72px;
                        }
                    }
                }
            }
                .picshowbox{
                    width: 420px;
                    height: auto;
                    .itempicshow{
                        position: relative;
                        overflow: hidden;
                        width: 420px;
                        height: 420px;
                        margin-top: 20px;
                        border: 1px solid #EEEEEE;
                        img{
                            width: 420px;
                            height: 420px;
                        }
                        .none{
                            position: absolute;
                            top: -226.379px;
                            left: -41.872px;
                            opacity: 0;
                            width: 650px;
                            height: 650px;
                            border: none;
                            max-width: none;
                        }
                    }
                }
            .sharebox{
                position: relative;
                left: -94px;
                float: left;
                span{
                    line-height: 45px;
                    color: #666666;
                    font-size: 13px;
                    float: left;
                }
                a{margin-left:5px;}
                .weixin{
                    width: 6px;
                    height: 18px;
                    background: url(../images/shareicon.png);
                    background-position: 0px 18px;
                    display: inline-block;
                    margin-top: 15px;
                    vertical-align: top;
                    float: left;
                    font-size: 12px;
                    padding-left: 17px;
                    line-height: 16px;
                }
                .weibo{
                    width: 6px;
                    height: 18px;
                    background: url(../images/shareicon.png);
                    background-position: 23px 18px;
                    display: inline-block;
                    margin-top: 15px;
                    vertical-align: top;
                    float: left;
                    font-size: 12px;
                    padding-left: 17px;
                    line-height: 16px;
                }
            }
            .shou{
                a{
                    display: block;
                    width: 100px;
                    height: 40px;
                    line-height: 40px;
                    cursor: pointer;
                    float: right;
                    color: #666666;
                    font-size: 15px;
                    position: relative;
                    img{
                        vertical-align: top;
                        margin-top: 10px;
                    }
                }
            }
        }
    }
}