@charset "UTF-8";
.topBar {
  width: 100%;
  height: 28px;
  background: #F7F7F7;
  border: 1px solid #DADADA;
  z-index: 100;
  left: 0;
  font-size: '微软雅黑';
  font-size: 12px; }
  .topBar .topBarCon {
    height: 28px;
    line-height: 28px; }
    .topBar .topBarCon .topBarFl {
      width: 400px; }
      .topBar .topBarCon .topBarFl a {
        color: #666666; }
  .topBar .miniMenu {
    height: 28px; }
    .topBar .miniMenu li {
      float: left;
      margin-left: 3px;
      text-align: center;
      height: 28px; }
      .topBar .miniMenu li a {
        color: #666; }
    .topBar .miniMenu .m1 {
      width: 120px;
      position: relative; }
    .topBar .miniMenu .m2 {
      width: 70px; }
    .topBar .miniMenu .m3 {
      width: 80px;
      position: relative; }
      .topBar .miniMenu .m3:hover .child {
        display: block; }
      .topBar .miniMenu .m3:hover > a {
        color: #cf0404; }
      .topBar .miniMenu .m3:hover {
        background: #ffffff; }
      .topBar .miniMenu .m3 u {
        text-decoration: none; }
      .topBar .miniMenu .m3 .child {
        display: none;
        width: 80px;
        position: absolute;
        z-index: 999;
        top: 28px;
        right: 0px;
        border: 1px solid #dadada;
        border-top: none;
        background: #ffffff; }
        .topBar .miniMenu .m3 .child dd {
          height: 25px;
          line-height: 25px a;
            line-height-padding-right: 0;
            line-height-text-indent: 0px;
            line-height-border-right: none;
            line-height-display: block;
            line-height-width: 80px;
            line-height-height: 25px;
            line-height-color: #666; }
          .topBar .miniMenu .m3 .child dd:hover > a {
            color: #cf0404; }
    .topBar .miniMenu .m4 {
      width: 45px; }
    .topBar .miniMenu .m5 {
      width: 58px; }
      .topBar .miniMenu .m5 a {
        color: #cf0404; }
    .topBar .miniMenu .m6 {
      width: 50px; }
      .topBar .miniMenu .m6 a {
        color: #cf0404; }

.global_body {
  height: auto;
  margin: 0 auto;
  width: 960px;
  font-size: 13px;
  font-family: Arial; }
  .global_body .cart_title {
    height: 45px;
    margin-top: 15px; }
    .global_body .cart_title h1 {
      color: #666666;
      display: block;
      font-family: '微软雅黑';
      font-size: 18px;
      font-weight: bold;
      height: 23px;
      margin-top: 17px;
      overflow: hidden;
      text-indent: 5px;
      width: 100px; }
    .global_body .cart_title div {
      color: #333333;
      display: block;
      font-family: Arial;
      font-size: 12px;
      margin: 0;
      padding-left: 10px;
      padding-top: 22px; }
      .global_body .cart_title div b {
        color: #CA0808; }
    .global_body .cart_title .cbtn {
      background: url(../images/bg_new.gif) no-repeat 0 0;
      border: medium none;
      cursor: pointer;
      display: block;
      overflow: hidden;
      text-align: center;
      line-height: 20px;
      background-position: 0 -102px;
      height: 35px;
      width: 124px; }
  .global_body .mainCar .car_box {
    border-color: #C90809 #EAEAEA #EAEAEA;
    border-right: 1px solid #EAEAEA;
    border-style: solid;
    border-width: 2px 1px 1px;
    height: auto; }
    .global_body .mainCar .car_box dt {
      border-bottom: 1px solid #EAEAEA;
      color: #999999;
      height: 31px;
      line-height: 31px;
      overflow: hidden;
      padding: 0;
      text-align: center; }
      .global_body .mainCar .car_box dt span {
        float: left;
        display: inline-block;
        width: 113px; }
        .global_body .mainCar .car_box dt span input {
          vertical-align: middle; }
      .global_body .mainCar .car_box dt .check_all {
        margin-left: 15px;
        text-align: left; }
      .global_body .mainCar .car_box dt .r1 {
        width: 315px;
        text-align: left; }
      .global_body .mainCar .car_box dt .r2 {
        width: 80px; }
      .global_body .mainCar .car_box dt .r3 {
        width: 86px; }
      .global_body .mainCar .car_box dt .r4 {
        width: 150px; }
      .global_body .mainCar .car_box dt .r5 {
        width: 70px; }
      .global_body .mainCar .car_box dt .r6 {
        width: 120px; }
  .global_body .mainCar .car_goods {
    padding: 0 15px 5px; }
    .global_body .mainCar .car_goods .tbcart {
      border-bottom: 1px dotted #D3D3D3;
      font-family: Arial;
      width: 100%; }
      .global_body .mainCar .car_goods .tbcart tr {
        text-align: center; }
        .global_body .mainCar .car_goods .tbcart tr td {
          padding: 10px 0;
          cursor: pointer; }
          .global_body .mainCar .car_goods .tbcart tr td:nth-child(1) {
            width: 48px;
            text-align: left; }
          .global_body .mainCar .car_goods .tbcart tr td:nth-child(2) {
            position: relative;
            width: 65px;
            text-align: center; }
          .global_body .mainCar .car_goods .tbcart tr td:nth-child(3) {
            width: 313px;
            text-align: left; }
          .global_body .mainCar .car_goods .tbcart tr td:nth-child(4) {
            width: 70px; }
          .global_body .mainCar .car_goods .tbcart tr td:nth-child(5) {
            width: 88px;
            color: #cf0404; }
          .global_body .mainCar .car_goods .tbcart tr td:nth-child(6) {
            width: 115px;
            padding-left: 34px; }
            .global_body .mainCar .car_goods .tbcart tr td:nth-child(6) span {
              height: 20px;
              line-height: 20px;
              white-space: nowrap;
              border: 1px solid #D8D8D8;
              cursor: pointer;
              width: 15px;
              float: left; }
            .global_body .mainCar .car_goods .tbcart tr td:nth-child(6) input {
              border: 1px solid #D8D8D8;
              color: #666666;
              height: 18px;
              margin: 0 3px;
              text-align: center;
              width: 35px;
              float: left; }
          .global_body .mainCar .car_goods .tbcart tr td:nth-child(7) {
            width: 70px; }
            .global_body .mainCar .car_goods .tbcart tr td:nth-child(7) b {
              color: #CA0809; }
  .global_body .mainCar .cart_info {
    background-color: #FFFFFF;
    border-color: #EAEAEA #EAEAEA;
    border-right: 1px solid #EAEAEA;
    border-style: none solid solid;
    border-width: medium 1px 1px;
    height: auto; }
    .global_body .mainCar .cart_info .head {
      background-color: #F6F6F6;
      border-bottom: 1px solid #EAEAEA;
      color: #989898;
      display: block;
      height: 42px;
      padding: 0 15px;
      line-height: 42px; }
    .global_body .mainCar .cart_info .cart_sum {
      line-height: 24px;
      padding: 10px 20px 10px 0;
      text-align: right; }
      .global_body .mainCar .cart_info .cart_sum .btn_all {
        margin-left: 10px;
        line-height: 30px; }
        .global_body .mainCar .cart_info .cart_sum .btn_all input {
          vertical-align: middle; }
      .global_body .mainCar .cart_info .cart_sum .delepro {
        margin-left: 30px;
        line-height: 30px; }
      .global_body .mainCar .cart_info .cart_sum .clearpro {
        margin-left: 30px;
        line-height: 30px; }
      .global_body .mainCar .cart_info .cart_sum a {
        color: #000; }
      .global_body .mainCar .cart_info .cart_sum b {
        color: #CA0809;
        font-size: 27px;
        font-weight: bold; }
  .global_body .mainCar .cart_btn {
    height: 60px;
    padding-top: 20px; }
    .global_body .mainCar .cart_btn .continue {
      background: url(../images/bg_new.gif) no-repeat 0 0;
      border: medium none;
      cursor: pointer;
      display: block;
      overflow: hidden;
      text-align: center;
      line-height: 20px;
      background-position: -124px -102px;
      height: 35px;
      width: 100px; }
    .global_body .mainCar .cart_btn .count {
      background: url(../images/bg_new.gif) no-repeat 0 0;
      border: medium none;
      cursor: pointer;
      display: block;
      overflow: hidden;
      text-align: center;
      line-height: 20px;
      background-position: 0 -102px;
      height: 35px;
      width: 124px; }
    .global_body .mainCar .cart_btn .tip {
      background: url(../images/bg_new.gif) -423px -417px no-repeat;
      padding-left: 20px;
      margin-left: 15px;
      line-height: 35px; }
  .global_body .needmore dt {
    background-color: #F8F8F8;
    border: 1px solid #EAEAEA;
    height: 38px; }
    .global_body .needmore dt span {
      color: #999999;
      float: left;
      font-family: "微软雅黑","黑体";
      font-size: 18px;
      font-weight: bold;
      height: 22px;
      line-height: 22px;
      margin: 9px 0 0 15px;
      width: 143px; }
  .global_body .needmore dd {
    background-color: #FFFFFF;
    border-color: #EAEAEA #EAEAEA;
    border-right: 1px solid #EAEAEA;
    border-style: none solid solid;
    border-width: medium 1px 1px;
    height: auto;
    overflow: hidden;
    padding: 20px 0; }
    .global_body .needmore dd ul {
      border-left: 1px dotted #EAEAEA;
      color: #666666;
      float: left;
      height: auto;
      left: -1px;
      line-height: 25px;
      padding-bottom: 20px;
      position: relative;
      text-align: center;
      width: 158px;
      margin-bottom: 5px; }
      .global_body .needmore dd ul .goods_pic {
        padding-bottom: 5px;
        text-align: center;
        width: 158px;
        height: 105px; }
      .global_body .needmore dd ul .goods_name {
        line-height: 20px;
        height: 40px;
        overflow: hidden;
        padding: 0 10px 0 12px; }
        .global_body .needmore dd ul .goods_name a {
          color: #666666; }
      .global_body .needmore dd ul .goods_price {
        line-height: 20px;
        font-family: Arial;
        color: #C90809;
        margin-top: 5px; }
      .global_body .needmore dd ul .goods_btn {
        margin-left: 28px;
        margin-top: 10px; }
        .global_body .needmore dd ul .goods_btn .cbtn {
          background: url(../images/bg_new.gif) no-repeat 0 0;
          border: medium none;
          cursor: pointer;
          display: block;
          overflow: hidden;
          text-align: center;
          line-height: 20px; }
        .global_body .needmore dd ul .goods_btn .putin_btn {
          background-position: -262px -209px;
          height: 29px;
          width: 102px; }

.foot {
  background-color: #FAFAFA;
  height: auto;
  margin: 20px auto 0;
  padding-top: 20px;
  width: 960px;
  font-size: 12px; }
  .foot .links {
    color: #999999;
    height: 32px;
    line-height: 32px;
    margin-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center; }
    .foot .links a {
      color: #999999; }
      .foot .links a:hover {
        color: red; }
    .foot .links span {
      padding: 0 10px; }
  .foot .copyright {
    color: #999999;
    line-height: 22px;
    margin-top: 5px;
    padding-bottom: 10px;
    text-align: center; }
  .foot .what {
    text-align: center; }
    .foot .what a {
      display: inline-block;
      border: 1px solid #ccc;
      width: 108px;
      margin: 0 5px;
      height: 40px;
      background: url(../images/bg_index.png) no-repeat;
      background-position: -205px -735px; }
