@charset "UTF-8";
.content .searchbox {
  font-size: 12px;
  width: 1180px;
  height: auto;
  color: #848484;
  font-family: 微软雅黑;
  background: white;
  margin: 0px auto; }
  .content .searchbox .tit {
    color: #333333;
    font-family: 微软雅黑;
    height: 40px;
    width: 100%;
    line-height: 40px;
    text-indent: 10px;
    border-bottom: 1px dashed #d4d4d4; }
    .content .searchbox .tit strong {
      color: #dd3f45; }
  .content .searchbox .hassel {
    height: 40px;
    width: 100%;
    font-size: 12px;
    border-bottom: 1px dashed #D4D4D4;
    line-height: 41px; }
    .content .searchbox .hassel .hassel-tit {
      margin-right: 30px;
      font-size: 12px; }
    .content .searchbox .hassel .selected {
      height: 23px;
      border: 1px solid #D4D4D4;
      margin-top: 7px;
      color: #333333;
      line-height: 22px;
      padding-left: 5px;
      padding-right: 5px;
      cursor: pointer;
      display: block;
      color: #DD3F45; }
      .content .searchbox .hassel .selected span {
        background: #DD3F45;
        color: #FFFFFF;
        padding-left: 4px;
        padding-right: 4px; }
  .content .searchbox .cd {
    width: 100%;
    border-bottom: 1px dashed #D4D4D4; }
    .content .searchbox .cd .cd-tit {
      line-height: 32px;
      width: 77px; }
    .content .searchbox .cd .cd-table {
      height: auto;
      width: 1000px;
      padding: 3px 0; }
      .content .searchbox .cd .cd-table li a {
        display: block;
        float: left;
        margin-right: 15px;
        padding-left: 10px;
        padding-right: 10px;
        text-align: center;
        color: #848484;
        padding-bottom: 5px;
        padding-top: 5px; }
      .content .searchbox .cd .cd-table li:hover a {
        color: #fff;
        background: #DD3F45; }
  .content .searchbox .gdxx {
    width: 100%;
    height: 65px; }
    .content .searchbox .gdxx .gdxx-tit {
      line-height: 65px;
      width: 87px; }
    .content .searchbox .gdxx .gdxx-table li {
      width: 98px;
      height: 28px;
      text-align: center;
      line-height: 30px;
      float: left;
      border: 1px solid #D4D4D4;
      border-right: none;
      margin-top: 18px;
      cursor: pointer; }
      .content .searchbox .gdxx .gdxx-table li:last-child {
        border-right: 1px solid #D4D4D4; }

.content .imgline {
  margin: 0 auto;
  height: 7px;
  background: url(../images/line.png); }

.content .listbox {
  background: #F5F5F5;
  width: 100%;
  height: auto;
  color: #333333;
  background: #F5F5F5;
  font-size: 13px;
  font-family: "微软雅黑";
  padding-bottom: 30px; }
  .content .listbox .listbox-main {
    width: 1180px;
    height: auto;
    margin: 0 auto; }
    .content .listbox .listbox-main .list-sort {
      width: 1180px;
      height: 90px;
      line-height: 80px;
      color: #333333;
      font-size: 13px;
      font-family: 微软雅黑; }
      .content .listbox .listbox-main .list-sort span {
        margin-left: 10px; }
      .content .listbox .listbox-main .list-sort .sort-box {
        width: auto;
        height: auto;
        border: 1px solid #CCCCCC;
        line-height: 28px;
        margin-top: 26px;
        margin-left: 15px;
        border-radius: 3px; }
        .content .listbox .listbox-main .list-sort .sort-box .selected {
          background: #AEAEAE;
          color: #ffffff; }
        .content .listbox .listbox-main .list-sort .sort-box a {
          width: 84px;
          display: block;
          float: left;
          text-align: center;
          border-right: 1px solid #CCCCCC;
          height: 28px;
          color: #333333; }
        .content .listbox .listbox-main .list-sort .sort-box a:last-child {
          border-right: none; }
  .content .listbox .product-list {
    width: 1178px;
    height: auto;
    border-right: 1px solid #CCCCCC;
    margin: 0 auto;
    border-top: 1px solid #CCCCCC;
    background: #FFFFFF;
    border-bottom: 1px solid #CCCCCC; }
  .content .listbox .pagesss {
    margin: 0 auto;
    margin-top: 20px;
    width: 1178px;
    height: 20px;
    text-align: center; }
    .content .listbox .pagesss .pagenumbox a {
      background-color: #f1eff0;
      padding: 0 12px;
      border-radius: 2px;
      margin: 0 3px 6px;
      color: #666;
      display: inline-block;
      vertical-align: top;
      font-size: 12px;
      height: 26px;
      line-height: 26px; }
    .content .listbox .pagesss .pagenumbox span {
      background-color: #C90809;
      padding: 0 12px;
      border-radius: 2px;
      margin: 0 3px 6px;
      height: 26px;
      line-height: 26px;
      display: inline-block;
      vertical-align: top;
      font-size: 12px; }

.content .prolist li {
  width: 293px;
  height: 438px;
  border-left: 1px solid #CCCCCC;
  border-top: 1px solid #ccc;
  float: left;
  cursor: pointer;
  box-sizing: border-box; }
  .content .prolist li:hover {
    border-bottom: 3px solid #CC0210; }
  .content .prolist li:last-child {
    border-right: 1px solid #ccc; }
  .content .prolist li > a {
    padding-left: 30px;
    padding-top: 30px;
    width: auto;
    height: auto;
    display: block; }
    .content .prolist li > a .itpic {
      width: 235px;
      height: 235px;
      overflow: hidden;
      position: relative; }
      .content .prolist li > a .itpic img {
        width: 230px;
        height: 230px;
        transition: transform 0.3s ease-in; }
        .content .prolist li > a .itpic img:last-child {
          position: absolute;
          top: 0;
          left: 235px; }
    .content .prolist li > a .itemname {
      width: 240px;
      display: block;
      font-family: 微软雅黑;
      font-size: 12px;
      line-height: 23px;
      height: 46px;
      margin-top: 15px;
      text-overflow: ellipsis;
      overflow: hidden; }
    .content .prolist li > a .pretype {
      width: 240px;
      display: block;
      font-family: "微软雅黑";
      font-size: 12px;
      line-height: 23px;
      color: #DC3334;
      margin-top: 5px;
      overflow: hidden;
      height: 23px; }
      .content .prolist li > a .pretype em {
        background: url(../images/qiang.png);
        color: #FFFFFF;
        width: 16px;
        height: 18px;
        display: inline-block;
        line-height: 18px;
        text-align: center;
        margin-right: 8px;
        font-style: normal; }
    .content .prolist li > a .itemprice {
      width: 134px;
      display: block;
      margin-top: 10px;
      float: left;
      color: #DC3334;
      font-size: 25px;
      margin-right: 5px;
      position: relative;
      padding-left: 13px; }
      .content .prolist li > a .itemprice strong {
        color: #DC3334;
        font-size: 13px;
        position: absolute;
        top: 10px;
        left: 0; }
    .content .prolist li > a .addshopcar {
      float: left;
      width: 80px;
      height: 30px;
      line-height: 30px;
      color: #FFFFFF;
      background: #E73736;
      margin-top: 10px;
      text-align: center;
      font-size: 12px;
      cursor: pointer; }
      .content .prolist li > a .addshopcar:hover {
        background: #CC0210; }
    .content .prolist li > a .assnum {
      color: #9B9B9B;
      font-size: 12px;
      margin-top: 52px;
      display: block;
      width: 100px; }

.content .commendlist {
  width: 1180px;
  line-height: 60px;
  margin: 0 auto; }
  .content .commendlist span {
    color: #A5A5A5;
    font-size: 20px;
    text-indent: 30px;
    width: 1180px;
    display: inline-block; }

.content .fixnav {
  width: 100%;
  background: #FFFFFF;
  border-top: 1px solid #C8C8C8;
  border-bottom: 1px solid #C8C8C8;
  height: 50px;
  position: fixed;
  top: 0;
  z-index: 9999;
  display: none;
  transition: all 0.5s;
  box-shadow: 5px 5px 10px RGBA(42, 42, 42, 0.29); }
  .content .fixnav .fixnavbox {
    width: 1200px;
    margin: 0 auto; }
    .content .fixnav .fixnavbox a {
      line-height: 50px;
      color: #333333;
      display: inline-block;
      height: 50px; }
      .content .fixnav .fixnavbox a img {
        height: 50px; }
      .content .fixnav .fixnavbox a span {
        padding: 0 10px;
        line-height: 50px;
        font-size: 15px;
        height: 50px;
        display: inline-block;
        vertical-align: top; }
      .content .fixnav .fixnavbox a em {
        width: 24px;
        height: 24px;
        color: #FFFFFF;
        border-radius: 50%;
        display: inline-block;
        font-size: 15px;
        background: #E73736;
        line-height: 24px;
        text-align: center;
        vertical-align: top;
        margin-top: 13px;
        font-style: normal; }
    .content .fixnav .fixnavbox ul {
      width: 860px;
      display: inline-block; }
      .content .fixnav .fixnavbox ul li {
        padding: 0 25px;
        line-height: 50px;
        float: left;
        font-size: 15px; }
        .content .fixnav .fixnavbox ul li:first-child {
          margin-left: 55px; }
