@charset "UTF-8";
.content {
  background: #F6F4F5; }
  .content .buybox .category {
    width: 1200px;
    height: 50px;
    line-height: 50px;
    font-size: 12px;
    color: #797979; }
    .content .buybox .category span {
      padding: 0 5px; }
      .content .buybox .category span a {
        color: #000; }
    .content .buybox .category .zxkf {
      cursor: pointer;
      margin-top: 15px;
      overflow: hidden;
      display: inline-block;
      width: 88px;
      height: 20px;
      display: inline-block;
      background: url(../images/zxkf.png); }
  .content .buybox .itemshow {
    background: #fff; }
    .content .buybox .itemshow .glass .pic-minlist {
      margin-left: 45px;
      margin-top: 20px;
      margin-right: 20px;
      width: 76px;
      height: 258px; }
      .content .buybox .itemshow .glass .pic-minlist li {
        margin-bottom: 10px;
        border: 1px solid #EEEEEE;
        cursor: pointer;
        padding: 1px 1px; }
        .content .buybox .itemshow .glass .pic-minlist li:hover {
          border: 2px solid #DC3334;
          padding: 0 0; }
        .content .buybox .itemshow .glass .pic-minlist li img {
          vertical-align: top;
          width: 72px;
          height: 72px; }
    .content .buybox .itemshow .picshowbox {
      width: 420px;
      height: auto; }
      .content .buybox .itemshow .picshowbox .itempicshow {
        position: relative;
        overflow: hidden;
        width: 420px;
        height: 420px;
        margin-top: 20px;
        border: 1px solid #EEEEEE; }
        .content .buybox .itemshow .picshowbox .itempicshow img {
          width: 420px;
          height: 420px; }
        .content .buybox .itemshow .picshowbox .itempicshow .none {
          position: absolute;
          top: -226.379px;
          left: -41.872px;
          opacity: 0;
          width: 650px;
          height: 650px;
          border: none;
          max-width: none; }
    .content .buybox .itemshow .sharebox {
      position: relative;
      left: -94px;
      float: left; }
      .content .buybox .itemshow .sharebox span {
        line-height: 45px;
        color: #666666;
        font-size: 13px;
        float: left; }
      .content .buybox .itemshow .sharebox a {
        margin-left: 5px; }
      .content .buybox .itemshow .sharebox .weixin {
        width: 6px;
        height: 18px;
        background: url(../images/shareicon.png);
        background-position: 0px 18px;
        display: inline-block;
        margin-top: 15px;
        vertical-align: top;
        float: left;
        font-size: 12px;
        padding-left: 17px;
        line-height: 16px; }
      .content .buybox .itemshow .sharebox .weibo {
        width: 6px;
        height: 18px;
        background: url(../images/shareicon.png);
        background-position: 23px 18px;
        display: inline-block;
        margin-top: 15px;
        vertical-align: top;
        float: left;
        font-size: 12px;
        padding-left: 17px;
        line-height: 16px; }
    .content .buybox .itemshow .shou a {
      display: block;
      width: 100px;
      height: 40px;
      line-height: 40px;
      cursor: pointer;
      float: right;
      color: #666666;
      font-size: 15px;
      position: relative; }
      .content .buybox .itemshow .shou a img {
        vertical-align: top;
        margin-top: 10px; }
  .content .buybox .itemmsg {
    width: 520px;
    margin: 0 0 0 42px;
    color: #666;
    margin-top: 20px;
    position: relative; }
    .content .buybox .itemmsg .itemtitle {
      font-size: 16px;
      width: 480px;
      line-height: 20px;
      color: #000;
      font-weight: 700;
      font-family: "微软雅黑"; }
    .content .buybox .itemmsg .redad {
      color: #e3393c;
      width: 480px;
      font-family: arial,"微软雅黑";
      font-size: 14px;
      line-height: 20px;
      word-break: break-all;
      margin-top: 7px; }
    .content .buybox .itemmsg .sppp {
      position: absolute;
      right: -75px;
      top: 0;
      width: 80px;
      text-align: center;
      font-size: 13px;
      color: #000; }
      .content .buybox .itemmsg .sppp em {
        background: #a18b7e;
        color: #fff;
        border-radius: 4px 4px;
        padding: 1px 5px;
        line-height: 30px;
        height: 30px;
        font-style: normal; }
    .content .buybox .itemmsg .priceBox {
      margin-top: 10px;
      padding: 10px 0 10px 10px;
      background: url(../images/pricBg.gif) no-repeat left center;
      width: 520px;
      position: relative;
      left: -10px; }
      .content .buybox .itemmsg .priceBox .newPriceBox {
        margin-top: 10px;
        height: 26px;
        line-height: 26px; }
        .content .buybox .itemmsg .priceBox .newPriceBox .newPrice {
          font-size: 12px;
          padding-top: 0;
          height: 30px;
          line-height: 30px; }
          .content .buybox .itemmsg .priceBox .newPriceBox .newPrice strong {
            height: 30px;
            margin-right: 3px;
            color: #c40000; }
            .content .buybox .itemmsg .priceBox .newPriceBox .newPrice strong .rmbIcon {
              height: 30px;
              margin-right: 3px;
              font-size: 16px;
              padding-left: 16px; }
            .content .buybox .itemmsg .priceBox .newPriceBox .newPrice strong .price {
              padding-top: 3px;
              font-weight: 900;
              padding-top: 3px;
              font-weight: 900;
              font-size: 24px; }
      .content .buybox .itemmsg .priceBox .sale {
        padding-top: 11px;
        font-size: 12px;
        line-height: 1;
        color: #666; }
        .content .buybox .itemmsg .priceBox .sale > span {
          display: inline-block;
          margin-right: 5px;
          line-height: 25px; }
        .content .buybox .itemmsg .priceBox .sale .redBox {
          background: #c40000;
          color: #fff;
          line-height: 18px;
          padding: 2px 2px 1px 2px; }
    .content .buybox .itemmsg .upmsg .transTo {
      margin-top: 10px;
      height: 25px;
      line-height: 25px;
      clear: both;
      font-size: 12px; }
      .content .buybox .itemmsg .upmsg .transTo .psz {
        margin-right: 10px; }
      .content .buybox .itemmsg .upmsg .transTo .at {
        margin-right: 10px; }
        .content .buybox .itemmsg .upmsg .transTo .at .at_btn {
          display: inline-block;
          height: 24px;
          line-height: 24px;
          padding: 0 5px;
          background: #fff;
          border: 1px solid #ccc;
          color: #000; }
      .content .buybox .itemmsg .upmsg .transTo .yh {
        font-size: 12px;
        font-family: "微软雅黑";
        margin-right: 8px;
        color: #747474; }
    .content .buybox .itemmsg .upmsg .pay {
      margin-top: 17px;
      height: 36px;
      line-height: 36px;
      border-top: 1px dashed #c9c9c9;
      border-bottom: 1px dashed #c9c9c9;
      color: #B4B4B4;
      font-size: 12px;
      font-family: "微软雅黑"; }
      .content .buybox .itemmsg .upmsg .pay p {
        width: 170px;
        float: left;
        text-align: center; }
        .content .buybox .itemmsg .upmsg .pay p em {
          color: #c40000;
          font-weight: 900;
          font-style: normal; }
      .content .buybox .itemmsg .upmsg .pay span {
        margin-top: 13px;
        height: 12px;
        width: 1px;
        background: #ddd;
        display: inline-block;
        float: left; }
    .content .buybox .itemmsg .upmsg .numbox {
      margin-top: 15px; }
      .content .buybox .itemmsg .upmsg .numbox .text {
        font-family: "微软雅黑";
        margin-right: 15px;
        font-size: 12px;
        line-height: 30px; }
      .content .buybox .itemmsg .upmsg .numbox div .nums {
        float: left;
        width: 36px;
        height: 28px;
        border: 1px solid #c9c9c9;
        text-align: center;
        line-height: 28px; }
      .content .buybox .itemmsg .upmsg .numbox div .addBtn {
        float: left;
        margin-left: 4px; }
        .content .buybox .itemmsg .upmsg .numbox div .addBtn span {
          display: block;
          width: 18px;
          height: 12px;
          border: 1px solid #c9c9c9;
          text-align: center;
          line-height: 10px;
          cursor: pointer;
          margin-bottom: 4px; }
      .content .buybox .itemmsg .upmsg .numbox .alert {
        position: fixed;
        top: 50%;
        left: 50%;
        background: #000;
        opacity: 0.6;
        width: 200px;
        height: 50px;
        text-align: center;
        line-height: 50px;
        color: #fff;
        transform: translate(-50%, -50%);
        display: none; }
    .content .buybox .itemmsg .upmsg .btnbox {
      position: relative;
      height: 60px; }
      .content .buybox .itemmsg .upmsg .btnbox .addBuy {
        width: 180px;
        margin-top: 20px;
        height: 40px;
        background: url(../images/addBuy.jpg);
        float: left;
        position: relative;
        right: -10px; }
      .content .buybox .itemmsg .upmsg .btnbox .addToCart {
        margin-top: 20px;
        width: 180px;
        height: 40px;
        float: left;
        margin-left: 16px;
        cursor: pointer;
        background: url(../images/buycar.gif) no-repeat -586px -460px; }
      .content .buybox .itemmsg .upmsg .btnbox .apphover:hover .ewmiconbox {
        display: block; }
      .content .buybox .itemmsg .upmsg .btnbox .apphover {
        float: left;
        position: relative;
        margin-top: 28px;
        font-size: 13px;
        font-family: "微软雅黑";
        cursor: pointer;
        padding: 2px 8px; }
        .content .buybox .itemmsg .upmsg .btnbox .apphover .app-ewmicon {
          background: url(../images/d-icon.png) no-repeat 0 0;
          display: inline-block;
          vertical-align: middle;
          width: 22px;
          height: 32px;
          background-position: -95px -22px;
          overflow: hidden;
          margin: 0;
          margin-top: -5px; }
        .content .buybox .itemmsg .upmsg .btnbox .apphover .ewmiconbox {
          display: none;
          width: 120px;
          height: 0;
          z-index: 999999;
          left: 7px;
          bottom: 29px;
          position: absolute;
          text-align: center; }
          .content .buybox .itemmsg .upmsg .btnbox .apphover .ewmiconbox img {
            width: 120px;
            height: 120px;
            margin-bottom: 5px; }
    .content .buybox .itemmsg .upmsg .infoItems {
      font-size: 12px;
      margin-top: 20px; }
      .content .buybox .itemmsg .upmsg .infoItems .infoTit {
        float: left;
        width: 36px;
        color: #666;
        padding-right: 28px; }
      .content .buybox .itemmsg .upmsg .infoItems .infoCon {
        float: left;
        width: 425px; }
        .content .buybox .itemmsg .upmsg .infoItems .infoCon i {
          margin-top: 3px;
          float: left;
          width: 13px;
          height: 12px;
          margin-right: 5px;
          background: url(../images/d-icon.png) no-repeat 0 0;
          background-position: -211px -21px; }
  .content .everybodyBuy {
    width: 1200px;
    color: #666666;
    height: auto;
    margin: 0 auto;
    background: #FFFFFF; }
    .content .everybodyBuy .tit {
      width: 1080px;
      margin: 0 auto;
      font-size: 16px;
      line-height: 100px;
      height: 80px; }
    .content .everybodyBuy .eveitem {
      width: 1080px;
      margin: 0 auto; }
      .content .everybodyBuy .eveitem li {
        width: 256px;
        height: 130px;
        border: 1px solid #EFEFEF;
        margin-right: 10px;
        float: left;
        font-size: 13px; }
        .content .everybodyBuy .eveitem li img {
          width: 125px;
          height: 130px;
          float: left; }
        .content .everybodyBuy .eveitem li span {
          padding-top: 40px;
          display: inline-block;
          float: left;
          color: #666666;
          width: 120px;
          padding-left: 10px; }
        .content .everybodyBuy .eveitem li em {
          color: #DC3334;
          padding-left: 10px; }
  .content .itemdetail {
    width: 1200px;
    margin: 0 auto;
    background: #FFFFFF; }
    .content .itemdetail .tit {
      width: 1080px;
      margin: 0 auto;
      height: 100px;
      border-bottom: 2px solid #EEEEEE; }
      .content .itemdetail .tit .select {
        color: #333333;
        border-bottom: 2px solid #DC3334; }
      .content .itemdetail .tit span {
        color: #797979;
        overflow: hidden;
        padding: 0 25px;
        height: 100px;
        display: inline-block;
        height: 100px;
        line-height: 150px;
        cursor: pointer;
        font-size: 18px; }
        .content .itemdetail .tit span a {
          color: #797979;
          display: inline-block; }
        .content .itemdetail .tit span em {
          color: #FA4343;
          font-size: 15px;
          font-style: normal; }
    .content .itemdetail .itemsepc {
      padding-left: 35px;
      padding-top: 35px;
      width: 1045px;
      margin: 0 auto;
      background: #FBFBFB;
      padding-bottom: 35px; }
      .content .itemdetail .itemsepc span {
        width: 24%;
        display: inline-block;
        font-size: 12px;
        color: #666666;
        margin-bottom: 10px; }
        .content .itemdetail .itemsepc span em {
          width: 15px;
          height: 15px;
          display: inline-block;
          vertical-align: top;
          margin-top: 2px;
          margin-right: 3px; }
      .content .itemdetail .itemsepc .pp em {
        background: url(../images/pp.png); }
      .content .itemdetail .itemsepc .spbh em {
        background: url(../images/spbh.png); }
      .content .itemdetail .itemsepc .cd em {
        background: url(../images/fonticon.png); }
      .content .itemdetail .itemsepc .xx em {
        background: url(../images/fonticon.png);
        background-position: -15px -15px; }
      .content .itemdetail .itemsepc .gg em {
        background: url(../images/fonticon.png);
        background-position: 0 15px; }
    .content .itemdetail .picdetai img {
      margin: 0 auto;
      display: block; }
    .content .itemdetail .pjbox {
      text-align: center;
      width: 1200px;
      margin: 0 auto;
      background: #FFFFFF;
      padding-top: 30px; }
      .content .itemdetail .pjbox div {
        width: 998px;
        border: 1px solid #E5E5E5;
        margin: 0 auto;
        padding: 25px 40px; }
    .content .itemdetail .historylook {
      width: 1200px;
      color: #666666;
      height: auto;
      margin: 0 auto;
      background: #FFFFFF;
      position: relative; }
      .content .itemdetail .historylook .historytit {
        width: 1080px;
        margin: 0 auto;
        font-size: 16px;
        line-height: 100px;
        height: 80px; }
      .content .itemdetail .historylook .slied .item {
        width: 1080px;
        margin: 0 auto; }
        .content .itemdetail .historylook .slied .item li {
          width: 256px;
          height: 130px;
          border: 1px solid #EFEFEF;
          margin-right: 10px;
          float: left;
          font-size: 13px; }
          .content .itemdetail .historylook .slied .item li img {
            width: 125px;
            height: 130px;
            float: left; }
          .content .itemdetail .historylook .slied .item li span {
            padding-top: 40px;
            display: inline-block;
            float: left;
            color: #666666;
            width: 120px;
            padding-left: 10px; }
          .content .itemdetail .historylook .slied .item li em {
            color: #DC3334;
            padding-left: 10px; }
      .content .itemdetail .historylook .prev {
        position: absolute;
        cursor: pointer;
        left: 10px;
        top: 58%;
        font-size: 35px;
        font-weight: 900;
        color: #E3E3E3; }
      .content .itemdetail .historylook .next {
        position: absolute;
        cursor: pointer;
        right: 10px;
        top: 58%;
        font-size: 35px;
        font-weight: 900;
        color: #E3E3E3; }
    .content .itemdetail .faqbox {
      width: 1200px;
      height: auto;
      margin: 0 auto;
      background: #FFFFFF;
      overflow: hidden; }
      .content .itemdetail .faqbox .faq {
        width: 1080px;
        margin: 0 auto;
        margin-top: 50px;
        font-family: Arial,Verdana;
        line-height: 25px; }
        .content .itemdetail .faqbox .faq .faqtit {
          font-weight: 900;
          font-size: 30px;
          font-family: Arial,Verdana;
          margin-bottom: 20px;
          display: inline-block; }
        .content .itemdetail .faqbox .faq em {
          font-style: normal; }
        .content .itemdetail .faqbox .faq .Qicon {
          background: #DC3434;
          color: #FFFFFF;
          width: 25px;
          height: 25px;
          text-align: center;
          line-height: 25px;
          font-weight: 900;
          font-family: Arial,Verdana;
          margin-right: 30px;
          border-radius: 50%;
          display: inline-block; }
        .content .itemdetail .faqbox .faq .question {
          font-size: 17px;
          color: #1A1A1A;
          vertical-align: top; }
        .content .itemdetail .faqbox .faq .Aicon {
          background: #77AFD2;
          color: #FFFFFF;
          width: 25px;
          margin-top: 12px;
          height: 25px;
          text-align: center;
          line-height: 25px;
          font-weight: 900;
          font-family: Arial,Verdana;
          margin-right: 30px;
          border-radius: 50%;
          display: inline-block; }
        .content .itemdetail .faqbox .faq .answer {
          display: inline-block;
          width: 900px;
          margin-top: 10px;
          font-size: 15px;
          color: #747474;
          vertical-align: top; }
          .content .itemdetail .faqbox .faq .answer a {
            width: 88px;
            height: 20px;
            display: inline-block;
            background: url(../images/zxkf.png); }
